@keyframes rotate {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.one {
  width: 1000px;
  height:900px;
  overflow: hidden;
  position: relative;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
 position: absolute;
  right: 0px;
  top:64px;
  z-index: 0;
  animation: rotate 20s infinite  linear;
}
 